# Database (Order service)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=order_db
DATABASE_URL=postgresql://postgres:password@postgres-order:5432/order_db

# Redis
REDIS_URL=redis://redis:6379

# Kafka
KAFKA_BROKER=kafka:9092

# App
PORT=4001
NODE_ENV=production
